<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCRYPTO</title>
    <link rel="stylesheet" href="/static/css/miligram.css">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

    <header>myCRYPTO</header>
    <div class="navegacion">
        <p><a href="inicio">Inicio</a> / <a href="purchase">Comprar</a> / <a href="status">Status</a></p>
    </div>
    
    <section class="container" id="principal">
       {%block contenido %}{%endblock %}
    </section>

</body>

<footer>
    &copy; Todos los derechos reservados 2021 
</footer>

</html>