{% extends 'base.html' %}

{% block titulo%}Compra{%  endblock %}

{% block contenido %}
    <section class="container" id="principal">
        <h1>COMPRA DE CRIPTOS</h1>
    </section>
        
    <form action="/purchase" method="post">
        <div class ="wrapper">
            <div class = "one">
                {{ form.criptoF.label(class="mylabel") }}
                {{ form.criptoF(placeholder="") }}
                
            </div>
            <div class = "two">
                {{ form.criptoTo.label(class="mylabel") }}
                {{ form.criptoTo(placeholder="") }}
            </div>
            <div class = "three">
                {{ form.Qfrom.label(class="mylabel") }}
                {{ form.Qfrom }}
            </div>
            <div class = "four">
                {{ form.Qto.label(class="mylabel") }}
                {{ form.Qto}}
            </div>
            <div class = "five">
                
            </div>

            <div class="six">
                <button>
                    <a href="/inicio"></a>
                    <img src="../static/css/images/wrong.png" width="30">
                </button>
                <button type="submit" form="criptosForm">
                    <img src="../static/css/images/check.png" width="30">
                </button>
                {{ form.submit()}}
               
            </div>          
        </div>
    </form>
{% endblock %}