{% extends 'base.html' %}

{% block titulo%}Compra{%  endblock %}

{% block contenido %}
    <section class="container" id="principal">
        <h1>COMPRA DE CRIPTOS</h1>
    </section>
        
    <form action="/purchase" method="post">
        <div class ="wrapper">
            <div class = "one">
                {{ form.criptoF.label(class="mylabel") }}
                {{ form.criptoF(placeholder="") }}
                {% for error in form.criptoF.errors %}
                    <p class="msg-err">
                        {{ error }}
                    </p>
                {% endfor %}
                
            </div>
            <div class = "two">
                {{ form.criptoTo.label(class="mylabel") }}
                {{ form.criptoTo(placeholder="") }}
                {% for error in form.criptoTo.errors %}
                    <p class="msg-err">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
            <div class = "three">
                {{ form.Qfrom.label(class="mylabel") }}
                {{ form.Qfrom }}
                {% for error in form.Qfrom.errors %}
                    <p class="msg-err">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
            <div class = "four">
                <p class="p1">Qto <input type="text"> </p>          
            </div>
        
            <div class="six">
                
                {{ form.submit()}}
               
            </div>
            
            
        </div>
    </form>
{% endblock %}