{% extends 'base.html' %}

{% block titulo%}Compra{%  endblock %}

{% block contenido %}
    <section class="container" id="principal">
        <h1>COMPRA DE CRIPTOS</h1>
    </section>
        
    <form action="/purchase" method="post">
        <fieldset class="container">
            {{ form.hidden_tag() }}
            <div class ="wrapper">
                <div class = "one">
                    {{ form.criptoF.label(class="mylabel") }}
                    {{ form.criptoF(placeholder="") }}
                    {% for error in form.criptoF.errors %}
                        <p class="msg-err">
                            {{ error }}
                        </p>
                    {% endfor %}
                    
                </div>
                <div class = "two">
                    {{ form.criptoTo.label(class="mylabel") }}
                    {{ form.criptoTo(placeholder="") }}
                    {% for error in form.criptoTo.errors %}
                        <p class="msg-err">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class = "three">
                    {{ form.Qfrom.label(class="mylabel") }}
                    {{ form.Qfrom }}
                    {% for error in form.Qfrom.errors %}
                        <p class="msg-err">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class = "four">
                    <label for="Qto">Qto</label>
                    <input disabled type="number" name="Qto" value="{{ Qto }}" >
                       
                </div>
                <div class = "five">
                    <label for="PU">PU</label>
                    <input disabled type="number" name="PU" value="{{ PU }}" >
                    
                </div>

                <div class="six">
                    {{ form.submit()}}
                </div>
                <div class="seven">
                    {{ form.calcular()}}
                </div>
                <div class="eigth">
                    {{ form.cancelar()}}
                </div>
                
            </div>
        </fieldset>    
    </form>
{% endblock %}