{% extends 'base.html' %}

{% block titulo%}Inicio{%  endblock %}

{% block contenido %}
    <section class="container" id="principal">
        <h1>MOVIMIENTOS</h1>
        <div class="lista de movimientos">
            <table class="tabla-movimientos">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>From</th>
                        <th>Q</th>
                        <th>To</th>
                        <th>Q</th>
                        <th>P.U</th>
                        <th></th>
                    </tr>
                    {% if datos %}
                    {% for movimiento in datos %}
                    <tr>
                        <td>{{movimiento.fecha}}</td>
                        <td>{{movimiento.hora}}</td>
                        <td>{{movimiento.criptoF}}</td>
                        <td>{{movimiento.Qfrom}}</td>
                        <td>{{movimiento.criptoTo}}</td>
                        <td>{{movimiento.Qto}}</td>
                        <td>{{movimiento.Qfrom/movimiento.Qto}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <p>No hay movimientos</p>
                    </tr>
                    {% endif %}
                </thead>
            </table>
        </div>
    </section>

    <div class="botones">
        <a class="boton" href="/status">Status</a>
        <a class="boton" href="/purchase">+</a>
    </div> 

    

{% endblock %}