{% extends 'base.html' %}

{% block titulo%}Status{%  endblock %}

{% block contenido %}
    <section class="container" id="principal">
        <h1>ESTADO DE LA INVERSIÓN</h1>
        <div class="inversion">
            <div >
                <label for="invertido">Invertido</label>
                <input  disabled type="text" name="invertido" value={{inversion}}€>
            </div>
            
            <div >
                <label for="valor actual">Valor Actual</label>
                <input  disabled type="text" name="valor actual" value={{valorActual|round(8)}}€>
            </div>
            
            <div class="btnVolver">
                <a class="button" href="/inicio">Volver</a>
            </div> 
        </div>    
    </section>

    </section>
    


{% endblock %}